* {
  font-family: Raleway
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}

.title h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 75px;
}

.title img {
  height: 55px;
  margin-left: 30px;
}

@media only screen and (max-width: 500px) {
    .title img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 60px;
    };
}

.hero img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

@media only screen and (max-width: 500px) {
    .hero img {
    width: 100%
    }
}

.slogan h2 {
  font-weight: lighter;
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
}

.info_container {
  height: auto;
  background-color: #77DD77;
  margin-top: 70px;
}

.info_container img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px
}

.info_container p {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 5px;
}

.info_container hr {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  border: solid;
  border-width: 1px;
}

.info_container .blurb {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.download {
  padding-bottom: 40px;
  padding-top: 80px;
}
.download button {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #DC3E3E;
  border: none;
  font-size: 40px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  outline: none;
  padding-left: 50px;
  padding-right: 50px;
}

.download button:hover {
  background-color: #FD6767;
  box-shadow: 3px 3px #FF8989;
}

.download p {
  font-size: 20px;
  color: #666666;
  margin-top: -8px;
}

.extra_links {
  background-color: white;
  padding-top: 30px;
}

.extra {
  margin-bottom: 30px;
}

.extra_links p {
  text-align: center;
  color: black;
  font-size: 25px;
}

.extra_links img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

footer {
  margin-top: 45px;
}

footer .copyright {
  margin-left: 30px;
  font-size: 17px;
}

.copyright a:hover {
  color: #77DD77;
}

@media only screen and (max-width: 500px) {
    .copyright {
    text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .social {
      float: none;
      text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .social img{
      float: none;
      text-align: center;
      margin-right: 30px;
      margin-left: 30px;
    }
}

footer img {
  width: 20px;
  margin-right: 30px;
  float: right;
}

footer img:hover {
  width: 22px;
}
